
body {
  background-color: #003;
}

.mine {
  background-color: #f32;
}

.isClosed {
  background-color: #333;
}

.box {
  border: solid 1px white;
}
.isOpened {
  background-color: #4fa;
}
.number {
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: blue;
}

.flag {
  background-color: yellow;
}